*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e0d2e0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}


#mobile{
    display: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
    transition: 0.3s ease;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a:hover{
    color: #9a7d95;
}

#close{
    display: none;
}

#navbar li a.active{
    color: #9a7d95;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 22%;
    height: 2px;
    background: #9a7d95;
    position: absolute;
    bottom: -4px;
    left: 35px;
}

#hero{
    background: #d9ced9;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #935584;
}

#hero button{
    background-image: url("https://64.media.tumblr.com/af528ce9e2f7eaaa1a92c77f2c080b8a/tumblr_ombl5sB4te1vihmbro5_500.jpg");
    background-color: transparent;
    color: #935584;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-box img{
    width: 100%;   
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #87608c;
    background-color: #9a859c;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #fddde4;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #cdd4f8;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
} 

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #9a909a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #4a3444;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #9a7d95;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f6e8f6;
    color: #9a7d95;
    border: 1px solid #e7cce7;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(186, 108, 170, 0.4), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #6f2a5b;
    font-size: 16px;
}

#banner h2 {
    color: #85518a;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #5f171b;
}

#banner button:hover{
    background-color: #402c45;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(rgba(155, 102, 75, 0.948), rgba(163, 112, 151, 0.4));
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background: linear-gradient(rgba(186, 108, 170, 0.4), rgba(0, 0, 0, 0.4));
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #5f171b;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #c799d2;
    border: 1px solid #402c45;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(rgba(186, 108, 170, 0.952), rgba(0, 0, 0, 0.4));
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background: linear-gradient(rgba(186, 108, 170, 0.4), rgba(0, 0, 0, 0.4));
}

#banner3 .banner-box3{
    background: linear-gradient(rgba(146, 99, 137, 0.4), rgba(116, 54, 54, 0.864));
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #9f8ca2;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span{
    color: #e0d5e1;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #402c45;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button:hover{
    background-color: #e8ddeb;
    border: 1px solid #402c45;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #d1bad2;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer img{
    width: 100px;
   
}

footer .follow i:hover,
footer a:hover{
    color: #9a7d95;
}

footer .copyright p{
    width: 100%;
    text-align: center;
}

footer .copyright{
    width: 100%;
    text-align: center;
}



@media  (max-width: 799px){

    .section-p1{
        padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e8ddeb;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        
    }

    #navbar.active{
        right: 0px;
    }


    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        cursor: pointer;
    }

    #bag{
        display: none;
    }

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }

    footer .copyright{
        width: 100%;
    }

    /* contact page */

    .form-details{
        padding: 40px;
    }

    .form-details form{
        width: 50%;
    }

    
}

@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }

    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }

    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3{
        padding: 0 20px;
    }

    #banner3 .banner-box{
        width: 100%;
    }

    #newsletter .form{
        width: 100%;
    }

    footer .copyright{
        width: 100%;
    }

    /* contact page */

    .contact-details{
        flex-direction: column;
    }

    .contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-details .map{
        width: 100%;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    #form-details{
        padding: 20px 15px;
    }

    #form-details form{
        width: 100%;
    }

    /* cart page */

    #cart-add{
        flex-direction: column;
    }

    #coupon button,
    #subtotal button{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }

    



}

/* shop page */


#page-header{
    background-image: url("https://image.cdn2.seaart.ai/2023-07-01/40253479194693/f7149bfae6fcfbd3e8cd0a388602cbf1eeb2e4d9_high.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #71088148;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* blog page */

.blog-header{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230517/pngtree-desktop-with-purple-flowers-with-flowers-in-vases-image_2576897.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#blog{
    padding: 150px 150px 0 150px;
}

.blog-header h2,
.blog-header p{
    color: #fff;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #73088175;
}

#blog .blog-details a:hover::after{
    background-color: #7b088183;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

@media (max-width: 477px){
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }

    #blog .blog-details a::after{
        display: none;
    }

}

/* about page */

.about-header{
    background-image: url("https://www.marthabrook.com/wp-content/uploads/2023/07/martha-brook-personalised-stationery-personalised-lilac-stationery-collection.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.about-header h2,
.about-header p{
    color: #fff;
}

#about-details{
    display: flex;
    margin-top: 50px;
    
}

#about-details.about-img{
    width: 50%;
    height: auto;
    
}

#about-details .details{
    width: 50%;
    padding: 30px;
}

#about-details .details span{
    font-size: 12px;
}

#about-details .details h2{
    font-size: 26px;
    font-weight: 700;
    padding: 0 0 15px 0;
}

#about-details .details h3{
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 15px 0;
}

#about-details .details p{
    font-size: 16px;
    padding: 0 0 15px 0;
}

@media (min-width:799px) and (max-width: 1280px){
    #about-details{
        flex-direction: column;
    }
    #about-details .details{
        width: 100%;
    }
    #about-details img{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 798px){
    #about-details{
        flex-direction: column;
    }
    #about-details .details{
        width: 100%;
    }
    #about-details img{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
}


/* contact page */

.contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details .details{
    width: 40%;
}

.contact-details .details span,
#form-details form span{
    font-size: 12px;
}
   

.contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.contact-details .details h3{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.contact-details .details p{
    font-size: 16px;
    margin: 0;
}

.contact-details .details li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px 0;

}

.contact-details .details li i{
    font-size: 14px;
   padding-right: 22px;
}

.contact-details .map{
    width: 55%;
    height: 400px;
}

.contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}



#form-details form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
    
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #9a7d95;
    color: #fff;
}


#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* CART */

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #9a7d95;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}




   





























    
